form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textBox {
    font-size: 17px;
    padding: 3px;
    margin: 0 0 20px 0;
    width: 270px;
}

#submitButton {
    font-size: 17px;
    margin: 0 0 20px 0;
    padding: 4px 10px;
    cursor: pointer;
}